body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url(./Images/Aboriginal-Artwork.png);
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.about, .video, .hours, .aknowledgement {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about h2, .video h2, .hours h2 {
    margin-top: 0;
    text-align: center;
}

.about p {
    line-height: 1.6;
}

.hours ul {
    list-style-type: none;
    padding: 0;
}

.hours li {
    background-color: #e09553;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.aknowledgement h2 {
    text-align: center;
}

.aknowledgement p {
    font-style: italic;
}

.section .video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-you {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe {
    max-width: 100%;
}