body {
    margin: 0;
    font-family: Arial, sans-serif;
}


main {
    padding-top: 80px ;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.book-reviews {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    
}

.book {
    text-align: center;
    margin: 10px;
}

.book img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px #66656d; 
}

.book .review {
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: black;
    font-style: italic;
    
}

@media (max-width: 768px) {
    main{
        display: block;
    }

    .book-reviews{
        display: block;
    }
}


  
  